<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ===================== -->
  <!-- Ölçüler (metre) -->
  <!-- ===================== -->
  <xacro:property name="chassis_length" value="0.22"/>   <!-- 22.0 cm -->
  <xacro:property name="chassis_width"  value="0.156"/>  <!-- 15.6 cm -->
  <xacro:property name="chassis_height" value="0.09"/>   <!-- 9.0 cm -->

  <!-- ===================== -->
  <!-- Base Link Macro -->
  <!-- ===================== -->
  <xacro:macro name="base_link">

    <link name="base_link">

      <!-- Görsel -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>
        <material name="navy_blue">
          <color rgba="0.05 0.1 0.4 1.0"/>
        </material>
      </visual>

      <!-- Çarpışma -->
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>
      </collision>

      <!-- Atalet (şimdilik basit) -->
      <inertial>
        <mass value="5.0"/>
        <origin xyz="0 0 0"/>
        <inertia
          ixx="0.05" ixy="0.0" ixz="0.0"
          iyy="0.05" iyz="0.0"
          izz="0.05"/>
      </inertial>

    </link>

  </xacro:macro>

</robot>
