<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hamals_robot">

  <!-- Load dimensions once -->
  <xacro:property name="dims"
    value="${xacro.load_yaml('$(find hamals_robot_description)/config/robot_dimensions.yaml')}" />

  <!-- Materials -->
  <xacro:include filename="$(find hamals_robot_description)/urdf/materials.xacro"/>

  <!-- Structure -->
  <xacro:include filename="$(find hamals_robot_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find hamals_robot_description)/urdf/wheels.xacro"/>
  <xacro:include filename="$(find hamals_robot_description)/urdf/casters.xacro"/>
  <xacro:include filename="$(find hamals_robot_description)/urdf/lidar.xacro"/>

</robot>